services:
  api:
    build: .
    container_name: pets-api
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: local
    ports:
      - "8081:8080"
  db:
    image: mysql:8.0
    container_name: juanaco
    environment:
      MYSQL_ROOT_PASSWORD: root
    restart: always
    volumes:
      - ./sql/mysql:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    ports:
      - "3308:3306"
    
volumes:
  db_data: